/*
reset
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */

:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
  font-size: 16px;
  background: #000;
  color: #FFFFFF;
}

body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  outline: none;
  border: none;
  color: #FFFFFF;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:active {
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus {
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 48px;
  line-height: 140%;
  font-weight: 700;
}

[class*=__container] {
  max-width: 1330px;
  margin: 0px auto;
  padding: 0 15px;
}

.btn {
  padding: 10px 30px;
  line-height: 150%;
  border-radius: 50px;
  white-space: nowrap;
}

.opacity {
  opacity: 0.4;
}

.header {
  position: relative;
  margin-bottom: 200px;
}

.header__main-photo {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1000;
}

.header-top {
  position: fixed;
  width: 100%;
  z-index: 9999;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.header-top__container {
  max-width: 1790px;
}

.header-top__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 80px;
}

.header-top__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
}

.header-top__logo img {
  max-width: 100%;
}

.header-top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__list {
  line-height: 150%;
  position: relative;
  margin: 0 28px 0px 28px;
}

.header-top__button {
  background: -o-linear-gradient(355.74deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  -webkit-animation: animate_gradient 5s ease infinite;
          animation: animate_gradient 5s ease infinite;
  background-size: 400% 400%;
  z-index: 3;
}

.header-top__menu-btn {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  z-index: 3;
}

.header-top__menu-btn span {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  left: 0;
  top: 10.5px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header-top__menu-btn::before,
.header-top__menu-btn::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 60%;
  height: 2px;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header-top__menu-btn::before {
  right: 0;
  top: 0;
}

.header-top__menu-btn::after {
  left: 0;
  bottom: 0;
}

.header-top__menu-btn.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.header-top__menu-btn.active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
}

.header-top__menu-btn.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 10px;
}

.header-main {
  width: 100%;
  height: 823px;
}

.header-main__body {
  padding-top: 150px;
  max-width: 920px;
}

.header-main__title {
  font-size: 64px;
}

.time-header-main {
  padding-top: 50px;
}

.time-header-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 522px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.time-header-main__time {
  width: 115px;
  height: 112px;
  background: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time-header-main__value {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
}

.time-header-main__text {
  line-height: 140%;
}

.header-bottom {
  background: #121212;
}

.header-bottom__body {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bottom__button {
  font-weight: 700;
  background: -o-linear-gradient(355.22deg, #DF5950 11.19%, #451046 93.72%);
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  -webkit-animation: animate_gradient 3s ease infinite;
          animation: animate_gradient 3s ease infinite;
  background-size: 300% 300%;
  margin: 0px 20px 0px 0px;
}

.header-bottom__students {
  margin: 0px 20px 0px 0px;
}

.students-header-bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 251px;
          flex: 0 0 251px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.students-header-bottom__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 10px 0px;
}

.students-header-bottom__total:last-child {
  margin: 0;
}

.students-header-bottom__text {
  line-height: 150%;
}

.bar-header-bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 714px;
          flex: 0 1 714px;
  min-width: 282px;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bar-header-bottom__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bar-header-bottom__earned {
  margin-right: 30px;
  line-height: 150%;
}

.bar-header-bottom__stripe {
  width: 100%;
  background: #fff;
  margin: 0px 0px 5px 0px;
  overflow: hidden;
}

.bar-header-bottom__completion {
  width: 0%;
  height: 6px;
  background: -o-linear-gradient(355.22deg, #DF5950 11.19%, #451046 93.72%);
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.bar-header-bottom__from-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bar-header-bottom__from-to span {
  line-height: 150%;
}

.about {
  padding-bottom: 200px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 526px;
          flex: 0 0 526px;
  width: 526px;
  height: 499px;
  border: 30px solid transparent;
  background: -o-linear-gradient(#000, #000) padding-box, -o-linear-gradient(355.74deg, #C89AFC 9.51%, #7C6AFA 90.23%) border-box;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%) border-box;
  margin: 0px 0px 43px 0px;
}

.about__img img {
  padding-top: 64px;
  width: 100%;
}

.about__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 636px;
          flex: 0 1 636px;
}

.about__title {
  margin: 0px 0px 45px 0px;
}

.about__text {
  line-height: 160%;
}

.opacity-five {
  opacity: 0.5;
}

.start {
  padding-bottom: 200px;
}

.start__header {
  margin: 0px 0px 80px 0px;
}

.start__header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 49px 0px;
}

.start__title {
  margin: 0px 0px 0px 20px;
}

.start__header-title {
  max-width: 411px;
  line-height: 160%;
}

.infographic-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.infographic-start__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 206px;
          flex: 1 1 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
}

.infographic-start__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  margin: 0px 0px 20px 0px;
}

.infographic-start__graphic {
  width: 100%;
  height: 80px;
  background: -o-linear-gradient(355.74deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.infographic-start__text {
  font-size: 14px;
  line-height: 160%;
  padding: 0px 18px 0px 0px;
  margin: 35px 0px 0px 0px;
}

.one {
  height: 60px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.two {
  height: 30px;
}

.three {
  height: 10px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -ms-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}

.advantages {
  padding-bottom: 200px;
}

.advantages__title {
  text-align: center;
  margin: 0px 0px 120px 0px;
}

.colums-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.colums-advantages__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 12px;
}

.colums-advantages__img {
  width: 100px;
  height: 100px;
  margin: 0px 0px 60px 0px;
}

.colums-advantages__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 416px;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin: 0px 0px 30px 0px;
}

.colums-advantages__text {
  max-width: 358px;
  line-height: 160%;
  opacity: 0.8;
}

.partners {
  padding-bottom: 200px;
}

.partners__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 89px 0px;
}

.partners__header img {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.partners__title {
  margin-left: 50px;
}

.partners__parther-border {
  background: rgba(255, 255, 255, 0.3);
}

.partners__partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1px;
}

.partners__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 300px;
          flex: 1 0 300px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
}

.program {
  padding-bottom: 200px;
}

.program__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 30px 0px;
}

.program__heading img {
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  margin: 0px 0px 30px 0px;
}

.program__title {
  margin: 0px 0px 30px 0px;
}

.program__text {
  max-width: 411px;
  text-align: center;
  line-height: 160%;
}

.program-tree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.program-tree::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 6px;
  height: 100%;
  background: -o-linear-gradient(355.74deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.program-tree__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.program-tree__week {
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0px 0px 95px 0px;
}

.program-tree__week:last-child {
  margin: 0;
}

.program-tree__week::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 1px;
  width: 40px;
  background: #FFFFFF;
  opacity: 0.3;
}

.program-tree__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 304px;
          flex: 0 1 304px;
}

.program-tree__title {
  text-align: right;
  font-size: 14px;
  line-height: 160%;
  margin: 0px 0px 15px 0px;
}

.program-tree__text {
  text-align: right;
}

.title-left {
  text-align: left;
}

.text-left {
  text-align: left;
}

.week-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.week-right::before {
  left: 0;
}

.teachers {
  padding-bottom: 200px;
}

.teachers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 113px 0px;
}

.teachers__header img {
  -webkit-transform: rotate(-44deg);
      -ms-transform: rotate(-44deg);
          transform: rotate(-44deg);
}

.teachers__header-title {
  margin: 0px 0px 0px 17px;
}

.colums-teachers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.colums-teachers__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 416px;
          flex: 1 1 416px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colums-teachers__img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  margin: 0px 0px 30px 0px;
}

.colums-teachers__img img {
  max-width: 100%;
}

.colums-teachers__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin: 0px 0px 15px 0px;
}

.colums-teachers__specialization {
  line-height: 160%;
  opacity: 0.8;
  margin: 0px 0px 30px 0px;
}

.colums-teachers__btn {
  border: 1px solid #FFFFFF;
  position: relative;
  -webkit-transition: all 3s ease 0s;
  -o-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
}

.footer {
  margin: 0px 0px 100px 0px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  margin: 0px 0px 30px 0px;
}

.footer__text {
  max-width: 411px;
  line-height: 160%;
  text-align: center;
  margin: 0px 0px 60px 0px;
}

.footer__form {
  width: 411px;
  margin: 0px 0px 40px 0px;
  position: relative;
}

.footer__email {
  width: 100%;
  height: 44px;
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 11px 170px 11px 30px;
  background: rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.8);
}

.footer__email::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}

.footer__email::-moz-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}

.footer__email:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}

.footer__email::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}

.footer__email::placeholder {
  color: #FFFFFF;
  opacity: 0.8;
}

.footer__btn {
  position: absolute;
  top: 0;
  right: -1px;
  border: none;
  outline: none;
  padding: 10px 30px;
  font-weight: 700;
  line-height: 150%;
  color: #FFFFFF;
  border-radius: 50px;
  background: -o-linear-gradient(355.22deg, #DF5950 11.19%, #451046 93.72%);
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__body-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: -o-linear-gradient(355.74deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  margin-right: 30px;
}

.footer__body-social img {
  width: 24px;
  height: 24px;
}

.footer__body-social:last-child {
  margin: 0;
}

@media (min-width: 992px) {
  .header-top__list::before {
    content: "";
    position: absolute;
    bottom: -5px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 1px;
    width: 0%;
    background: #FFFFFF;
  }

  .header-top__list:hover::before {
    width: 100%;
  }

@-webkit-keyframes animate_gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
}

@keyframes animate_gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
}

  .header-top__button:hover {
    -webkit-animation: none;
            animation: none;
  }

@keyframes animate_gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
}

  .header-bottom__button:hover {
    -webkit-animation: none;
            animation: none;
  }

  .colums-teachers__btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 0%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50px;
    z-index: -1;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .colums-teachers__btn:hover {
    color: #000;
    border: 0px;
  }

  .colums-teachers__btn:hover::before {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1219px) {
  .about__info {
    padding-left: 20px;
  }
}

@media (max-width: 1215px) {
  .header-top__body {
    padding: 38px 0px;
  }
}

@media (max-width: 1051px) {
  .header-top__list {
    margin: 0 20px 0px 20px;
  }
}

@media (max-width: 997px) {
  .header-main {
    height: 664px;
  }
}

@media (max-width: 992px) {
  .header {
    margin-bottom: 50px;
  }

  .header-main__title {
    font-size: 45px;
  }

  .time-header-main {
    padding-top: 30px;
  }

  .time-header-main__time {
    width: 100px;
    height: 98px;
  }

  .time-header-main__value {
    font-size: 30px;
  }

  .about {
    padding-bottom: 50px;
  }

  .about__img {
    display: none;
  }

  .about__info {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 636px;
            flex: 1 1 636px;
  }

  .start {
    padding-bottom: 50px;
  }

  .start__header {
    margin: 0px 0px 40px 0px;
  }

  .advantages {
    padding-bottom: 50px;
  }

  .partners {
    padding-bottom: 50px;
  }

  .partners__img {
    height: 130px;
  }

  .partners__img img {
    width: 150px;
  }

  .program {
    padding-bottom: 50px;
  }

  .teachers {
    padding-bottom: 50px;
  }

  .teachers__header {
    margin: 0px 0px 60px 0px;
  }

  .colums-teachers__body {
    margin: 0px 0px 20px 0px;
  }

  .colums-teachers__body:last-child {
    margin: 0;
  }

  .footer {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 958px) {
  .header-top__list {
    margin: 0 15px 0px 15px;
  }
}

@media (max-width: 930px) {
  .colums-advantages__body {
    margin: 0px 0px 20px 0px;
  }

  .colums-advantages__body:last-child {
    margin: 0;
  }
}

@media (max-width: 901px) {
  .header-top__list {
    margin: 0 11px 0px 11px;
  }
}

@media (max-width: 851px) {
  .header-top__body {
    padding: 18px 0 18px 0;
  }

  .header-top__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: -o-linear-gradient(45deg, rgba(124, 65, 191, 0.9) 0%, rgba(69, 16, 70, 0.9) 60%, rgba(18, 18, 18, 0.9) 100%);
    background: linear-gradient(45deg, rgba(124, 65, 191, 0.9) 0%, rgba(69, 16, 70, 0.9) 60%, rgba(18, 18, 18, 0.9) 100%);
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }

  .header-top__nav.active {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .header-top__menu {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header-top__list {
    margin: 0 0 10px 0;
    font-size: 24px;
  }

  .header-top__list:last-child {
    margin: 0;
  }

  .header-top__menu-btn {
    display: block;
  }

  .header-main__body {
    padding-top: 80px;
  }
}

@media (max-width: 769px) {
  .header-bottom__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header-bottom__button {
    margin: 0px 20px 20px 0px;
  }

  .header-bottom__students {
    margin: 0px 0px 20px 0px;
  }

  .bar-header-bottom {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 714px;
            flex: 1 1 714px;
  }
}

@media (max-width: 731px) {
  .program-tree__week::before {
    display: none;
  }
}

@media (max-width: 658px) {
  .program-tree::after {
    width: 2px;
  }

  .program-tree__left {
    padding-right: 10px;
  }
}

@media (max-width: 576px) {
  [class*=__container] {
    padding: 0 10px;
  }

  .header {
    margin-bottom: 40px;
  }

  .header-top__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
  }

  .header-top__button {
    padding: 10px 20px;
  }

  .header-main {
    height: 464px;
  }

  .header-main__body {
    padding-top: 10px;
  }

  .header-main__title {
    font-size: 24px;
  }

  .time-header-main__time {
    width: 90px;
    height: 90px;
  }

  .time-header-main__value {
    font-size: 24px;
  }

  .about {
    padding-bottom: 40px;
  }

  .about__title {
    font-size: 24px;
    margin: 0px 0px 20px 0px;
  }

  .start {
    padding-bottom: 40px;
  }

  .start__header-main {
    margin: 0px 0px 20px 0px;
  }

  .start__header-main img {
    width: 50px;
  }

  .start__title {
    font-size: 24px;
  }

  .advantages {
    padding-bottom: 40px;
  }

  .advantages__title {
    font-size: 24px;
    margin: 0px 0px 40px 0px;
  }

  .colums-advantages__body {
    padding: 0;
  }

  .colums-advantages__img {
    margin: 0px 0px 20px 0px;
    width: 50px;
    height: 50px;
  }

  .colums-advantages__title {
    margin: 0px 0px 20px 0px;
    font-size: 18px;
  }

  .partners {
    padding-bottom: 40px;
  }

  .partners__header {
    margin: 0px 0px 20px 0px;
  }

  .partners__header img {
    width: 50px;
  }

  .partners__title {
    font-size: 24px;
    margin-left: 20px;
  }

  .partners__img {
    height: 80px;
  }

  .program {
    padding-bottom: 40px;
  }

  .program__heading img {
    width: 50px;
    height: 50px;
  }

  .program__title {
    font-size: 24px;
  }

  .teachers {
    padding-bottom: 40px;
  }

  .teachers__header {
    margin: 0px 0px 30px 0px;
  }

  .teachers__header img {
    width: 50px;
    height: 50px;
  }

  .teachers__header-title {
    font-size: 24px;
  }

  .footer__title {
    font-size: 24px;
  }

  .footer__text {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 459px) {
  .header-bottom__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header-bottom__button {
    margin: 0px 9px 20px 0px;
  }

  .students-header-bottom {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 251px;
            flex: 1 0 251px;
  }

  .footer__text {
    max-width: 320px;
  }

  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .footer__email {
    margin: 0px 0px 10px 0px;
    padding: 11px 30px;
  }

  .footer__btn {
    position: relative;
    right: 0;
  }
}

@media (max-width: 439px) {
  .header-bottom__button {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 432px) {
  .infographic-start__body:last-child {
    padding: 0;
  }

  .infographic-start__text {
    padding: 0;
  }
}